global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats   #통계를 제공하는 프론트엔드를 설정
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend myfrontend   #실제로 처리되는 요청을 위한 프론트엔드를 설정
  bind :80    #단일 LB 지점
  default_backend webservers

backend webservers
  balance     roundrobin
  server s1 web1:8080 check
  server s2 web2:8080 check
  server s3 web3:8080 check